
.anki-body[data-v-1fd89689] {
  padding: 16px;
}
.block-title[data-v-1fd89689] {
  margin-bottom: 16px;
}
.anki-card-col[data-v-1fd89689] {
  margin: 8px 0;
}
.anki-value[data-v-1fd89689] {
  margin: 16px 0;
}
