
#post-detail-body[data-v-936adc5d] {
  min-width: 600px !important;
  margin-top: 20px;
  margin-bottom: 16px;
}
#post-detail-body .btn-publish[data-v-936adc5d] {
  /*margin-left: 10px;*/
  cursor: pointer;
  padding: 0;
  margin-top: 20px;
}

#publish-body[data-v-51aca712] {
  min-width: 600px !important;
  margin-top: 20px;
}
.publish-header[data-v-51aca712] {
  margin-bottom: 16px;
}

#post-detail-body[data-v-37efb378] {
  min-width: 600px !important;
  margin-top: 20px;
  margin-bottom: 16px;
}
#post-detail-body .btn-publish[data-v-37efb378] {
  /*margin-left: 10px;*/
  cursor: pointer;
  padding: 0;
  margin-top: 20px;
}

#post-detail-body[data-v-07201bd8] {
  min-width: 600px !important;
  margin-top: 20px;
  margin-bottom: 16px;
}
#post-detail-body .btn-publish[data-v-07201bd8] {
  /*margin-left: 10px;*/
  cursor: pointer;
  padding: 0;
  margin-top: 20px;
}

.s-input {
  min-width: 400px !important;
}

#post-list[data-v-ac3ebf78] {
  margin-top: 20px;
}
.top-data-tip[data-v-ac3ebf78] {
  margin-top: 32px !important;
  margin-bottom: 10px;
  padding-left: 4px;
}

/* search */
.my-autocomplete li[data-v-ac3ebf78] {
  line-height: normal;
  padding: 7px;
}
.my-autocomplete li .name[data-v-ac3ebf78] {
  text-overflow: ellipsis;
  overflow: hidden;
}
.my-autocomplete li .addr[data-v-ac3ebf78] {
  font-size: 12px;
  color: #b4b4b4;
}
.my-autocomplete li .highlighted .addr[data-v-ac3ebf78] {
  color: #ddd;
}
.s-btn[data-v-ac3ebf78] {
  margin-left: 20px;
}

/* table */
.tb-data[data-v-ac3ebf78] {
  margin-top: 10px;
}
.el-pagination[data-v-ac3ebf78] {
  text-align: center;
  margin-top: 20px;
  justify-content: center;
}
.data-empty-box[data-v-ac3ebf78] {
  margin: 16px 0;
}
