
.picgo-body {
  padding: 16px;
}
.picgo-body .picgo-opt-btn {
  display: block;
  border: solid 1px green;
  border-radius: 4px;
  padding: 10px;
  background: var(--custom-app-bg-color);
  margin: 16px 0 16px;
}
.upload-status {
  margin-top: 10px;
}
.upload-btn-list {
}
.upload-control {
  display: inline-block;
  margin: 10px 16px 10px 0;
}
.log-msg {
  margin: 10px 0;
}
input[type="file"] {
  /* 隐藏原有的文件选择按钮 */
  display: none;
}

/* 创建自定义的文件选择按钮 */
.custom-file-input {
  display: inline-block;
  padding: 0.35em 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

/* 文件选择按钮的悬停样式 */
.custom-file-input:hover {
  background-color: #eee;
}
.file-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.file-list li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 16px;
  padding: 8px;
  border: solid 1px var(--el-color-primary);
  border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
}
.file-list li img {
  width: 160px;
  height: 140px;
}
.one-local-to-bed {
  margin-bottom: 12px;
}
.one-bed-to-local {
  margin-bottom: 16px;
}
.img-big-preview {
  max-width: 100%;
}
