
.el-alert[data-v-10057320] {
  margin-top: 10px;
}

.p-aside[data-v-cc8df0b3] {
  overflow-x: hidden;
}

.blog-main[data-v-60ba7196] {
  padding: 0;
}

.common-main[data-v-8f30e3a6] {
  padding: 0;
}
