
.el-alert[data-v-10057320] {
  margin-top: 10px;
}

.p-aside[data-v-7e9fbc87] {
  overflow-x: hidden;
}

.blog-main[data-v-341b2812] {
  padding: 0;
}

.common-main[data-v-c4772ae1] {
  padding: 0;
}
