
.el-alert[data-v-10057320] {
  margin-top: 10px;
}

.p-aside[data-v-cc8df0b3] {
  overflow-x: hidden;
}

.blog-main[data-v-ef78e835] {
  padding: 0;
}

.common-main[data-v-6bbb118d] {
  padding: 0;
}
